@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.content {
  max-width: 80%;
  margin: 0 auto;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.modal {
  position: fixed;
  z-index: 20;
  background: #fff;
  width: 500px;

  /* Center the modal */
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.modal__header {
  background: rgb(37 99 235);
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.modal__main {
  padding: 20px;
}

.close-button {
  border: none;
  background: transparent;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 36px;
}

.close-button:hover {
  color: yellow;
}

.button {
  background: green;
  border: none;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background: orange;
}

#photo_container {
  height: 40vh;
}
#photo_title {
  height: 25%;
}

@media only screen and (max-width: 1800px) {
  #photo_container {
    width: 25%;
    height: 45vh;
  }
  #photo_title {
    height: 23%;
  }
}

@media only screen and (max-width: 1500px) {
  #photo_container {
    width: 25%;
    height: 40vh;
  }
  #photo_title {
    height: 25%;
  }
}

@media only screen and (max-width: 1200px) {
  #photo_container {
    width: 33.3%;
    height: 42vh;
  }
  #photo_title {
    height: 31%;
  }
}

@media only screen and (max-width: 900px) {
  #photo_container {
    width: 33.3%;
    height: 40vh;
  }
  #photo_title {
    height: 31%;
  }
}

@media only screen and (max-width: 600px) {
  #photo_container {
    width: 50%;
    height: 40vh;
  }
  #photo_title {
    height: 34%;
  }
}